version: '3.8'

services:
  backend:
    image: trevel-backend:latest
    container_name: trevel_admin_backend
    restart: always
    ports:
      - "4000:4000"
    env_file:
      - .env.prod
    depends_on:
      - redis
    # Ensure logs are manageable
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  redis:
    image: redis:alpine
    container_name: trevel_redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  redis_data:
